@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

svg {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}
