.modal.modal_closed {
    display: none;
}
.modal_type_default {
    display: block;

    max-width: 100%;

    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    background: #fff;
}
.modal__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.modal__title {
    font: bold 14px/16px 'Roboto', sans-serif;
    color: #000000;
}
.modal__text {
    font: normal 14px/16px 'Roboto', sans-serif;
    padding-bottom: 20px;
}
.modal__close {
    border: none;
    background: transparent;
    cursor: pointer;
}
.modal__button-cancel {
    margin-top: 15px;
}
.modal__close svg {
    fill: #c4c4c4;
}
.modal__close:hover svg {
    border: none;
    background: transparent;
    fill: #000;
}
.modal__content {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}