.navigation__header {
    padding: 15px;
}
.navigation__link {
    font: normal 14px/16px 'Roboto', sans-serif;
    text-decoration-line: underline;
    color: #484747;
}
.navigation__link:hover {
    color: #000;
}